
body::-webkit-scrollbar {
    width: 0.3em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    min-height: 100vh;
    flex: 1 0 auto;
    
}


#generate_qr {

  margin: 5%;
}

#website_input{

  margin:1%;
}

form{
  margin-top:5%;
  margin: 3%;
}
.pulse-expand {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
}

.pulse-expand:hover {
    animation-name: pulse-expand;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulse-expand {
    to {
        transform: scale(1.1);
    }
}

@keyframes pulse-shrink {
    to {
        transform: scale(0.9);
    }
}

.pulse-shrink {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.pulse-shrink:hover {
    animation-name: pulse-shrink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shrink {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.shrink:hover {
    transform: scale(0.9);
}

.expand {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.expand:hover {
    transform: scale(1.1);
}




.tabs::-webkit-scrollbar {
    width: 0.1em;
    height: 0.15em;
}
 
.tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.tabs::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
}


